{% extends 'partials/base.html.twig' %}

{% if page.parent.parent.header.hide_next_prev_page_buttons is defined %}
    {% set hide_next_prev_page_buttons = page.parent.parent.header.hide_next_prev_page_buttons %}
{% elseif page.parent.header.hide_next_prev_page_buttons is defined %}
    {% set hide_next_prev_page_buttons = page.parent.header.hide_next_prev_page_buttons %}
{% endif %}

{% block content %}

    {% set activetag = uri.param('filter') %}

    <div class="columns">

        <div id="sections-content" class="column col-9 col-md-12">

            {% if not(page.header.hide_page_title) and not(grav.uri.param('hidepagetitle')) %}
                <h2 class="sections-page-title-template">{{ page.title }}</h2>
            {% endif %}

            {{ page.content|raw }}

            {% if page.collection('modular_content') is not empty %}
                {#                 <h1>MODULES</h1>#}
                {% for module in page.collection('modular_content') %}
                    {#                    {{dump(module)}}#}
                    {% if (module.content|striptags)|trim %}
                        <p>{{ module.content }}</p>
                    {% else %}
                        <p>{{ module.content }}</p>
                    {% endif %}
                {% endfor %}
                <script>
                    $(document).ready(function () {
                        console.log(Cookie.get("korb"));
                        var aboCol = 4;
                        var tableTitle = $('h3').text();
                        var printTitle = "";
                        $('#korb').DataTable({
                            colReorder: true,
                            "dom": 'rtiB',
                            "buttons": [
                                {
                                    "extend": 'print',
                                    "customize": function (win) {
                                        $(win.document.body)
                                                .css('font-size', '10pt')
                                                .prepend(
                                                        '<img src="{{ uri.base()}}{{ theme_url }}/images/logo/tv_logo_mini_bk.png" style="position:absolute; top:0; right:0;" />'
                                                        );
                                        $(win.document.body).find(".odd").css("background-color", 0);
                                        var t = $(win.document.body).find("table tbody tr:nth-child(odd)");
                                        t.css("background-color", "beige");
                                        
                                    },
                                    "title": function () {
                                        var printTit = printTitle + "<br/><small>" + tableTitle +"</small>";
                                        return printTit;
                                    },
                                    exportOptions: {
                                        columns: [ 0, 1, 2, 3 ]
                                    }
                                }
                            ],
                            "order": [[1, 'asc']],
                            "paging": false,
                            "info": false,
                            "searching": true,
                            "responsive": true,
                            "class": "stripe",
                            "columnDefs": [
                                {
                                    "targets": [3],
                                    "visible": false,
                                    "searchable": true
                                },
                                {
                                    "targets": [0],
                                    "visible": false,
                                    "searchable": false
                                }]
                        });

                        var table = $('#korb').DataTable();

                        $('#minibtn').click(function () {
                   
                                table.column(aboCol).search("Mini").draw();
                                 printTitle = "Mini";
                                removeAll($(this));
                    
                            });
                            $('#pitibtn').click(function () {
                    
                                table.column(aboCol).search("Klein/Petit").draw();
                                printTitle = "Klein/Petit";
                                removeAll($(this));
                            });
                            $('#grobtn').click(function () {
                    
                                table.column(aboCol).search("Gross/Grand").draw();
                                printTitle = "Gross/Grand";
                                removeAll($(this));
                            });


                            table.colReorder.move(0, 4, false);// move prix to 4
                            table.colReorder.move(0, 2, false);// moproducteurs (name to 3)
                            table.colReorder.move(3,0,false);// move product to 0
                            table.colReorder.move(2,4,false);// move product to 0
                          
                            table.column(aboCol).search("Gross/Grand").draw();
                            printTitle = "Gross/Grand";
                            
                            var what = table.column(0).header();
                            var qtity = table.column(1).header();
                            var prod = table.column(2).header();
                            $(what).html("Was / Quoi ?");
                            $(qtity).html("Wie Viel / Combien ?");
                            $(prod).html("Vom Wem / De qui ?");
                            function removeAll(btn)
                            {
                                $('#minibtn').removeClass("btn-primary");
                                $('#pitibtn').removeClass("btn-primary");
                                $('#grobtn').removeClass("btn-primary");
                                Cookies.set("korb",btn.attr('id'));
                                btn.toggleClass("btn-primary");
                            }
                        });
                </script>
            {%else%}
                <h1>EMPTY</h1>
            {% endif %}

        </div>


    </div>

{% endblock %}
